@import "./scss/boostrap-agency";

$lila: #edb5f5;
$verde-agua: #bef587;

.bg-verde-agua{
  background-color: $verde-agua;
}

.bg-lila {
  background-color: $lila;
}

.fuente-titulo{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.background-svg {
  background-image: url(/assets/img/dots_texture.svg);
  background-size:cover;
}

.fondo-estrella {
  background-image: url(/assets/img/estrellas-en-el-universo-morado-4465.jpg);
  min-height: 10px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

* {
  margin: 0;
  box-sizing: border-box;
}



// botón central

.boton-alt {
  text-decoration: none;

  border: none;
  font-size: 14px;
  font-family: inherit;
  color: #fff;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 30px;
}

.boton-alt:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.boton-alt:before {
  content: "";
//   position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

.boton-alt:hover::before {
  filter: blur(20px);
}

.boton-alt:active {
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}


.masthead img , svg{
  height: 18rem;
}

